<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scenario-based Game</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--  Navigator  -->
<nav th:fragment="menu(n)" class="ui attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui secondary stackable menu">
            <h2 class="ui grey header item">Scenario-based Game</h2>
            <a href="#" class="m-item item m-mobile-hide" th:classappend="${n==1} ? 'active'"><i class="star outline icon"></i>Introduction</a>
            <a href="#" class="m-item item m-mobile-hide" th:classappend="${n==2} ? 'active'"><i class="hockey puck icon"></i>Game</a>
            <a href="#" class="m-item item m-mobile-hide" th:classappend="${n==3} ? 'active'"><i class="desktop icon"></i>About IBM Security</a>
        </div>
    </div>

    <a href="#" class="ui menu toggle grey icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>

</nav>

</body>
</html>