<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monopoly-style Game</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--  Navigator  -->
    <nav th:replace="_fragments :: menu(1)" class="ui attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui secondary stackable menu">
                <h2 class="ui grey header item">Monopoly-style Game</h2>
                <a href="#" class="m-item item m-mobile-hide" th:classappend="${n==1} ? 'active'"><i class="star outline icon"></i>Introduction</a>
                <a href="#" class="m-item item m-mobile-hide" th:classappend="${n==2} ? 'active'"><i class="hockey puck icon"></i>Game</a>
                <a href="#" class="m-item item m-mobile-hide" th:classappend="${n==3} ? 'active'"><i class="desktop icon"></i>About IBM Security</a>
            </div>
        </div>

        <a href="#" class="ui menu toggle grey icon button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>

    </nav>

    <!--  Content  -->
    <div class="m-container m-padded-tb-large">
        <div class="ui container m-padded-tb-large">
            <div class="ui stackable grid">

                <div class="ui top attached segment m-border-top">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui grey header">Introduction</h3>
                        </div>
                    </div>
                </div>

                <!--content-->
                <div class="ui attached segment m-border-bottom m-padded-tb-large">
                    <div class="ui padded vertical segment m-padded">
                        <h2 class="ui header">Hi, welcome to the game!</h2><br>
                        <h3 class="ui header">Here, you can have a quick learn about popular and trustworthy
                            products from IBM Security!</h3><br><br>
                        <p class="m-text-large">Suppose that you are an entrepreneur and you have rich funding to support
                        your organization. In this game, you will be given several scenario-based questions and asked to
                        make a choice of how to solve problems. To be more specific, you are going to have one big issue
                        about cybersecurity per month, and you need to determine on how to deal with it. From now on, try
                        to think yourself as an entrepreneur.</p>
                        <p class="m-text-large">The first event you are going to meet with is not cybersecurity incident
                            but -- COVID-19. </p>
                        <p class="m-text-large">Working from home, but never offline.</p><br>
                        <h3 class="ui header m-text-spaced" align="center">Ready to start your journey? Click the green button!</h3>


                        <form name="search" action="#" method="post" th:action="@{/game}">
                            <input type="hidden" name="query" th:value="${query}">
                            <input type="hidden" name="check" th:value="${check}">
                            <input type="hidden" name="sum" th:value="${sum}">
                            <div class="field" align="center">
                                <button id="intro-btn" type="submit" class="ui large green button">START</button>
                            </div>
                        </form>


                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script>
    $('.menu.toggle').click(function() {
        $('.m-item').toggleClass('m-mobile-hide');
    })
    </script>

</body>
</html>